<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Codica-test</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li>
        <% if user_signed_in? %>
          <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class:"waves-effect waves-teal btn-flat" %>
        <% else %>
          <%= link_to 'Log in', new_user_session_path %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
