<h1>Your profile</h1>
<h2>Your visits</h2>
<% @visits.each.with_index(1) do |visit, idx| %>
  <div>
    <% if visit.status == true %>
      <h6><%= "#{idx}." %>  active</h4>
    <% else %>
      <h6><%= "#{idx}." %>  past</h4>
    <% end %>
    <%# <h4><%= visit.s %1></h4> %>
  </div>
<% end %>

<h2>Doctors:</h2>
<% @doctors.each do |doctor| %>
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">doctor.name</span>
        </div>
        <div class="card-action">
          <%= link_to "Book a visit", doctor_profile_path(doctor) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
